<section id="about">
  <div id="center-div">
    <h2>About Blogging App</h2>
    <p>Why another blogging app? It is a valid question with a completely pedestrian answer: it is a good rails exercise!
    More specifically, this exercise builds on a simple blog by having a more robust commenting system (e.g., anonymous commenting,
    ajax commenting implementation, amazon s3 hosting for images, etc.). I also am trying to avoid using bootstrap.
    </p>
  </div>
</section>
