<section id="blogs">
  <h2>Trending Blogs</h2>
  <div class="blog-row">
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
  </div>
  <div class="blog-row">
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
  </div>
  <div class="blog-row">
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
    <img src="http://placekitten.com/100/100" />
  </div>
</section>
<section id="feeds">
  <h2>Recent Posts</h2>
  <ul>
    <%= render 'static_pages/posts' %>
  </ul>
</section>
