<section id="blogs">
  <h2>Trending Blogs</h2> 
  <ul>
    <%= render 'static_pages/blogs' %>
  </ul>
</section>
<section id="feeds">
  <h2>Recent Posts</h2>
  <ul>
    <%= render 'static_pages/posts' %>
  </ul>
</section>
