<h2>List of all blogs</h2>
<% @blogs.each do |blog| %>
	<ul>
		<li><%= blog.title %>: 
			<%= link_to "show", blog %> | 
			<%= link_to "edit", edit_blog_path(blog) %>	| 
			<%= link_to "delete", blog, method: :delete, 
			data: { confirm: "Delete this blog?" } %>
		</li>
	</ul>
<% end %>
