<h2>Make a new comment in <%= link_to @post.title, @post %>:</h2>

<%= form_for [@post, @comment] do |f| %>
  <label>Enter Comment Content:</label>
  <%= f.cktext_area :content, ckeditor: { toolbar: "comments" } %>
  <%= submit_tag "Submit" %>  
<% end %>
