<% @user.blogs.each do |blog| %>
  <div class="user-blogs">
  <h2><%= link_to blog.title, blog %></h2>
  <% if current_or_guest_user == @user %>
    <p><%= link_to "Edit this blog", edit_blog_path(blog) %>
    <%= link_to "Delete this blog", blog, method: :delete, 
      data: { confirm: "Delete this blog?" } %>
    </p>
  <% end %>
  </div>
<% end %>
